<section class="homeabout">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <img src="/assets/images/loading-truck.webp" alt="loaded truck" />
      </div>
      <div class="col-lg-6 col-sm-12 homeabout-right">
        <h3>Why Choose Us</h3>
        <h2>We Have One Mutual Goal - A Simple Move.</h2>
        <div class="red-line"></div>
        <div class="white-line"></div>

        <ul>
          <li>Guaranteed Time Of Arrival</li>
          <li>Premiere Packing And Moving Services</li>
          <li>Fast & Careful Movers Redmond</li>
          <li>One Of The Top Seattle Moving Companies</li>
          <li>Online Local Movers Quote</li>
          <li>Consistent Customer Support</li>
        </ul>
        <a href="/pages/AboutUs/" class="homeabout-btn">Read More</a>
      </div>
    </div>
  </div>
</section>
