.home-header {
    height:780px;
    background-color: var(--white-500);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    isolation: isolate;
}


.home-header::before {
    content: '';
    position: absolute;
    inset: 0;
  
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/images/redondo-bg.webp);
    background-position:bottom center;
    background-size: cover;
    background-repeat: no-repeat;
   
    z-index: -1;
}
.home-header h1 {
    color: var(--white-500);
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-size: 46px;
}
.home-header h2{
   color: var(--red-500);
    font-size: 20px;
}
.header-form-wrapper {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: var(--br-l);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--white-500);
    padding: 1rem 1rem 3rem 1rem;
}

.header-form-wrapper h5 {
    margin-bottom: 1.5rem;
    color: var(--white-500);
    font-size: var(--fs-2xl);
    font-weight: var(--fw-b);
}

.header-form-wrapper button {
    position: absolute;
    bottom: -22.5px;
    right: 2rem;
}

.header-form-wrapper input {
    width: 100%;
    margin-top: 10px;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--white-500);
    opacity: 0.7;
    padding-left: 10px;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: red;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: red;
}
.home-header .red-line{
    background-color: var(--red-500);
    height: 8px;
    width: 30px;
    border-radius: var(--br-l);
    display:inline-block;
}
.home-header .white-line{
    margin-left: 5px;
    background-color: var(--white-500);
    height: 8px;
    width: 60px;
    border-radius: var(--br-l);
    display:inline-block;
}
.home-header .start-d{
    display: inline-block;
   
}
.home-header .start-btn{
    background-color: var(--red-500);
    padding: 20px 60px;
    color: var(--white-500);
    border-radius: var(--br-l);
    box-shadow: 0 10px 35px 0 rgb(246 97 106 / 50%)
}
.home-header .start-btn:hover{
    background-color: var(--blue-500);
   color: var(--white-500);
   box-shadow: none;
}
.home-header .hero-services{
    display:  inline-block;
}
.home-header .hero-services-btn{
    background-color: var(--blue-500);
    padding: 20px 60px;
    color: var(--white-500);
    border-radius: var(--br-l);
}
.home-header .hero-services-btn:hover{
    box-shadow: 0 10px 35px 0 rgb(246 97 106 / 50%);
    background-color: var(--red-500);
}
.home-header .btn-section{
    margin-top: 4%;
}
.home-header .headtxt{
    color: var(--white-500);
    padding: 30px 0;
}