<section class="faq" id="faq">
  <div class="container py-7">
    <div class="row">
      <div class="accordion" id="faq">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="false"
              aria-controls="collapseOne"
            >
              <p>Can movers pack for you?</p>
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="headingOne"
            data-bs-parent="#faq"
          >
            <div class="accordion-body">
              <p>
                The answer to this question is definitely YES! At Simple Move
                Redmond our professional packers and movers, can both pack all
                of your belongings and move them. It is up to you will you
                choose just packers, just movers, or both of them. For a
                stress-free move experience, we would recommend you to choose
                our full service and let our movers with a truck take care of
                every detail of your move.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              What happens when movers damage furniture?
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#faq"
          >
            <div class="accordion-body">
              <p>
                At Simple Move Redmond we have a team of professional,
                well-trained, and experienced packers and movers who will do
                everything to keep your belongings safe. On the other hand, if
                anything happens, our company includes basic coverage insurance,
                so you don’t have to worry about a thing. For a smooth local
                move, call Movers and Packers Redmond WA- Simple Move Redmond.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              Are movers always late?
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="headingThree"
            data-bs-parent="#faq"
          >
            <div class="accordion-body">
              <p>
                We can’t talk about other local moving companies, but our
                packers and movers are never late. Our staff is responsible and
                they take their job seriously. If we agree on a certain time,
                they will be there at that time, so you don’t have to worry
                about that. At Simple Move Redmond we take our customers
                seriously, and we take pride in doing our job right for more
                than 15 years.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFour">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseFour"
              aria-expanded="false"
              aria-controls="collapseFour"
            >
              Movers who disassemble furniture?
            </button>
          </h2>
          <div
            id="collapseFour"
            class="accordion-collapse collapse"
            aria-labelledby="headingFour"
            data-bs-parent="#faq"
          >
            <div class="accordion-body">
              <p>
                Our local furniture movers in Redmond WA- Simple Move Redmond,
                know how to pack your things properly. Of course, our packers
                and movers will disassemble big pieces of furniture, in order to
                pack them easier. When unpacking, they will assemble it back.
                That is only one of the things why hiring local furniture movers
                is a great decision- you won’t have to do it alone, it’s not an
                easy job, believe us!
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFive">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseFive"
              aria-expanded="false"
              aria-controls="collapseFive"
            >
              What movers won’t take?
            </button>
          </h2>
          <div
            id="collapseFive"
            class="accordion-collapse collapse"
            aria-labelledby="headingFive"
            data-bs-parent="#faq"
          >
            <div class="accordion-body">
              <p>
                At Simple Move Redmond, a local packing and moving company in
                Redmond WA, there are a few items we are unfortunately not able
                to move. We can’t move any kind of grand pianos, pool tables
                (even if they are disassembled); alcohol, flammable items;
                restaurant, medical, dental equipment; saunas, hot tubs; pallets
                with things or without them; and of course animals. Everything
                else we can and we will pack and move for you. Call Simple Move
                Redmond for a free moving quote.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingSix">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseSix"
              aria-expanded="false"
              aria-controls="collapseSix"
            >
              Where to get movers?
            </button>
          </h2>
          <div
            id="collapseSix"
            class="accordion-collapse collapse"
            aria-labelledby="headingSix"
            data-bs-parent="#faq"
          >
            <div class="accordion-body">
              <p>
                The fastest and easiest way to get movers is just by typing on
                Google something like ‘local movers near me, furniture movers
                near me, local furniture movers, local moving companies’, or
                something like ‘Redmond WA Movers, Movers, and Packers Redmond
                WA, Movers in Redmond WA, furniture movers Redmond WA, Movers
                Redmond WA, moving services Redmond WA, moving help Redmond WA,
                Redmond WA moving companies’. You will come across many local
                moving companies but Simple Move Redmon is the first and the
                best choice for you!
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingSeven">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseSeven"
              aria-expanded="false"
              aria-controls="collapseSeven"
            >
              Why use professional movers?
            </button>
          </h2>
          <div
            id="collapseSeven"
            class="accordion-collapse collapse"
            aria-labelledby="headingSeven"
            data-bs-parent="#faq"
          >
            <div class="accordion-body">
              <p>
                We can write for hours why hiring professional packers and
                movers is the right choice, but we will make it simple. By
                hiring professional local movers with a truck you will save
                precious time, money, and energy. You won’t have to lift a
                finger and everything will be done on time. You won’t have to go
                shopping for supplies wasting your money and energy, our
                professional movers have everything they need for an easy move.
                At Simple Move Redmond we do our best so that you don’t have to
                do a thing. Book us today!
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingEight">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseEight"
              aria-expanded="false"
              aria-controls="collapseEight"
            >
              Can movers move plants?
            </button>
          </h2>
          <div
            id="collapseEight"
            class="accordion-collapse collapse"
            aria-labelledby="headingEight"
            data-bs-parent="#faq"
          >
            <div class="accordion-body">
              <p>
                At Simple Move Redmon we care about our customers and the safety
                of their items. Our packers and movers do move plants but we can
                not be responsible for them. Plants are very delicate and we can
                not be responsible for their safety during transport. But of
                course, we will do our best to keep them safe.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingNine">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseNine"
              aria-expanded="false"
              aria-controls="collapseNine"
            >
              Are movers licensed?
            </button>
          </h2>
          <div
            id="collapseNine"
            class="accordion-collapse collapse"
            aria-labelledby="headingNine"
            data-bs-parent="#faq"
          >
            <div class="accordion-body">
              <p>
                Not all movers are licensed, so you should be very careful who
                you choose for your local move. Our packers and movers are
                licensed, well-trained professionals who will do everything in
                their power to make your move worry-free. You won’t make a
                mistake if you decide to choose our packing and moving company-
                Simple Move Redmond for your upcoming local move!
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTen">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTen"
              aria-expanded="false"
              aria-controls="collapseTen"
            >
              Movers who pack for you?
            </button>
          </h2>
          <div
            id="collapseTen"
            class="accordion-collapse collapse"
            aria-labelledby="headingTen"
            data-bs-parent="#faq"
          >
            <div class="accordion-body">
              <p>
                If you choose our full service, which includes both packing and
                moving, we will take care of everything. Our trucks are
                well-maintained and cleaned after every move. So driving for you
                is just one of the many things we will provide you with. By
                choosing Simple Move Redmond moving company, you choose to make
                your life easier!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
