<section class="homeservices">
  <div class="homeservices-svg-3">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="1104.06"
      height="1845.452"
      viewBox="0 0 1104.06 1845.452"
    >
      <defs>
        <linearGradient
          id="linear-gradient"
          x1="0.01"
          y1="0.17"
          x2="0.879"
          y2="0.345"
          gradientUnits="objectBoundingBox"
        >
          <stop offset="0" stop-color="#f9636b"></stop>
          <stop offset="1" stop-color="#a4204d" stop-opacity="0.231"></stop>
        </linearGradient>
      </defs>
      <path
        id="wave"
        d="M702.311,1104.06c298.9,0,260.549-392.114,598.283-404.252s132.535-143.448,303.187-421.825C1657.707,190.016,1845.452,0,1845.452,0H2.109S-32.338,273.3,177.227,561.4,487.854,1104.06,702.311,1104.06Z"
        transform="translate(1104.06) rotate(90)"
        opacity="0.07"
        fill="url(#linear-gradient)"
      ></path>
    </svg>
  </div>
  <div class="container-fluid container-xs">
    <div class="row">
      <div class="col-lg-6 col-sm-12 homeservices-left">
        <div class="homeservices-svg-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="64.069"
            height="66.564"
            viewBox="0 0 64.069 66.564"
          >
            <defs>
              <filter id="Path_2" x="0" y="0" width="64.069" height="66.564">
                <feOffset dy="3"></feOffset>
                <feGaussianBlur stdDeviation="6" result="blur"></feGaussianBlur>
                <feFlood flood-color="#12d861"></feFlood>
                <feComposite operator="in" in2="blur"></feComposite>
                <feComposite in="SourceGraphic"></feComposite>
              </filter>
            </defs>
            <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#Path_2)">
              <path
                id="Path_2-2"
                data-name="Path 2"
                d="M1874.949,1462.456l-3.2,30.564,28.069-12.511Zm3.675,8.242,12.232,8.883-13.813,6.153Z"
                transform="translate(-1853.75 -1447.46)"
                fill="#12d861"
                opacity="0.23"
              ></path>
            </g>
          </svg>
        </div>
        <div class="homeservice-svg-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="86.945"
            height="86.944"
            viewBox="0 0 86.945 86.944"
          >
            <defs>
              <filter id="Path_953" x="0" y="0" width="86.945" height="86.944">
                <feOffset dy="3"></feOffset>
                <feGaussianBlur stdDeviation="6" result="blur"></feGaussianBlur>
                <feFlood flood-color="#f89c56"></feFlood>
                <feComposite operator="in" in2="blur"></feComposite>
                <feComposite in="SourceGraphic"></feComposite>
              </filter>
            </defs>
            <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#Path_953)">
              <path
                id="Path_953-2"
                data-name="Path 953"
                d="M1483.1,1790.021l13.832,22.643,22.643-13.826-13.828-22.645Zm30.188,7.294-14.84,9.061-9.059-14.837,14.836-9.059Z"
                transform="matrix(0.81, -0.59, 0.59, 0.81, -2225.87, -528.79)"
                fill="#eb7317"
                opacity="0.23"
              ></path>
            </g>
          </svg>
        </div>
        <h3>{{homeservicessubtitle}}</h3>
        <h2>{{homeservicestitle}}</h2>
        <div class="red-line"></div>
        <div class="white-line"></div>

        <p>{{homeservicestxt}}</p>
        <a href="/pages/Services/" class="homeservices-btn"
          >View All Services</a
        >
        <div class="homeservices-svg-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="53.29"
            height="53.296"
            viewBox="0 0 53.29 53.296"
          >
            <defs>
              <filter id="Path_1" x="0" y="0" width="53.29" height="53.296">
                <feOffset dy="3"></feOffset>
                <feGaussianBlur stdDeviation="6" result="blur"></feGaussianBlur>
                <feFlood flood-color="#f9636b"></feFlood>
                <feComposite operator="in" in2="blur"></feComposite>
                <feComposite in="SourceGraphic"></feComposite>
              </filter>
            </defs>
            <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#Path_1)">
              <path
                id="Path_1-2"
                data-name="Path 1"
                d="M1373.283,1465.478a8.645,8.645,0,1,1-8.638-8.653A8.644,8.644,0,0,1,1373.283,1465.478Z"
                transform="translate(-1337.99 -1441.82)"
                fill="#f9636b"
                opacity="0.23"
              ></path>
            </g>
          </svg>
        </div>
        <div class="homeservices-svg-5">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="75.792"
            height="75.792"
            viewBox="0 0 75.792 75.792"
          >
            <defs>
              <filter id="Path_959" x="0" y="0" width="75.792" height="75.792">
                <feOffset dy="3"></feOffset>
                <feGaussianBlur stdDeviation="6" result="blur"></feGaussianBlur>
                <feFlood flood-color="#7adfff"></feFlood>
                <feComposite operator="in" in2="blur"></feComposite>
                <feComposite in="SourceGraphic"></feComposite>
              </filter>
            </defs>
            <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#Path_959)">
              <path
                id="Path_959-2"
                data-name="Path 959"
                d="M1385.457,1791.9l-9.826,0,.011-9.821-8.839,0-.006,9.819-9.821-.007-.009,8.839,9.826.006,0,9.825,8.839,0,0-9.822,9.823,0Z"
                transform="matrix(0.81, -0.59, 0.59, 0.81, -2127.28, -612.38)"
                fill="#7adfff"
                opacity="0.23"
              ></path>
            </g>
          </svg>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12 homeservices-right">
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            <div class="row">
              <div class="col-12">
                <Home-HomeCards
                  lb-props-cardtitle="Local Moving"
                  lb-props-cardtxt="First of all, the packing and moving process is nothing but simple and easy. It sounds easy – packing up things and moving them in a rented truck, but considering that many families have 
                  accumulated a lot of belongings and valuable items, things can get a bit more complicated."
                >
                  <div class="card-svg">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="100"
                      height="60"
                      viewBox="0 0 640 448"
                    >
                      <path
                        id="truck-moving-solid"
                        d="M416,32a64.027,64.027,0,0,1,64,64v48h48.8a56.17,56.17,0,0,1,43.4,20.5l57.9,71.9a36.432,36.432,0,0,1,9.9,25.3V352a31.966,31.966,0,0,1-32,32h-1.6a84.279,84.279,0,0,1,1.6,16,80,80,0,0,1-160,0,84.279,84.279,0,0,1,1.6-16H286.4a84.279,84.279,0,0,1,1.6,16,80,80,0,0,1-144,48A80,80,0,0,1,0,400V96A64,64,0,0,1,64,32ZM535,194.9a8.14,8.14,0,0,0-6.2-2.9H480v64H584.1ZM528,432a32,32,0,1,0-32-32A31.966,31.966,0,0,0,528,432ZM208,368a32,32,0,1,0,32,32A31.966,31.966,0,0,0,208,368ZM80,432a32,32,0,1,0-32-32A31.985,31.985,0,0,0,80,432Z"
                        transform="translate(0 -32)"
                        fill="#fff"
                      />
                    </svg>
                  </div>
                </Home-HomeCards>
              </div>
              <div class="col-12">
                <Home-HomeCards
                  lb-props-cardtitle="Storage In And Out"
                  lb-props-cardtxt="Moving heavy items from one storage to another is one of the tedious tasks. People usually hurt themselves during the storage relocation process or end up with a mess. That’s the reason why Simple Move Redmond is offering safe, fully-integrated, and damage-free Seattle storage moving services, to both the residential and commercial sectors."
                >
                  <div class="card-svg">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="100px"
                      height="60px"
                      viewBox="0 0 640 509.535"
                    >
                      <path
                        id="warehouse-solid"
                        d="M0,488V171.3a64.017,64.017,0,0,1,40.23-59.4L308.1,4.753a32.087,32.087,0,0,1,23.8,0L599.8,111.9A63.99,63.99,0,0,1,640,171.3V488a23.942,23.942,0,0,1-24,24H568a23.942,23.942,0,0,1-24-24V223.1c0-16.8-14.3-32-32-32H128c-17.7,0-32,15.2-32,32V488a23.974,23.974,0,0,1-24,24H24A23.974,23.974,0,0,1,0,488Zm152,24a23.942,23.942,0,0,1-24-24V432H512v56a23.942,23.942,0,0,1-24,24ZM128,336H512v64H128Zm0-112H512v80H128Z"
                        transform="translate(0 -2.465)"
                      />
                    </svg>
                  </div>
                </Home-HomeCards>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-12 m-auto">
            <Home-HomeCards
              lb-props-cardtitle="Apartment Moving"
              lb-props-cardtxt="No matter how stressful the apartment moving task is, we make it as simple as possible using the best techniques prevailing in the existing moving industry. Our local-friendly apartment movers near you will work around your schedule and take the time to understand your moving needs and customize the entire plan to give you peace of mind."
            >
              <div class="card-svg">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="100"
                  height="60"
                  viewBox="0 0 640 448"
                >
                  <path
                    id="couch-solid"
                    d="M592,224a48.012,48.012,0,0,0-48,48v80H96V272a48,48,0,0,0-96,0V464a16.024,16.024,0,0,0,16,16H80c8.836,0,15.1-7.164,15.1-16l.9-16H544v16a16,16,0,0,0,16,16h64a16,16,0,0,0,16-16V272A48.012,48.012,0,0,0,592,224ZM128,272v48H512V272a80.127,80.127,0,0,1,64-78.38V160A128,128,0,0,0,448,32H191.1a128,128,0,0,0-128,128l.9,33.6A80.2,80.2,0,0,1,128,272Z"
                    transform="translate(0 -32)"
                  />
                </svg>
              </div>
            </Home-HomeCards>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
