<section class="contactheader">
  <div class="cotnact-svg-1">
    <img src="/assets/images/dots.svg" alt="dots" />
  </div>
  <div class="contact-svg-2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="86.945"
      height="86.944"
      viewBox="0 0 86.945 86.944"
    >
      <defs>
        <filter id="Path_13169" x="0" y="0" width="86.945" height="86.944">
          <feOffset dy="3"></feOffset>
          <feGaussianBlur stdDeviation="6" result="blur"></feGaussianBlur>
          <feFlood flood-color="#fff"></feFlood>
          <feComposite operator="in" in2="blur"></feComposite>
          <feComposite in="SourceGraphic"></feComposite>
        </filter>
      </defs>
      <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#Path_13169)">
        <path
          id="Path_13169-2"
          data-name="Path 13169"
          d="M1483.1,1790.021l13.832,22.643,22.643-13.826-13.828-22.645Zm30.188,7.294-14.84,9.061-9.059-14.837,14.836-9.059Z"
          transform="matrix(0.81, -0.59, 0.59, 0.81, -2225.87, -528.79)"
          fill="#fff"
          opacity="0.23"
        ></path>
      </g>
    </svg>
  </div>
  <div class="contact-svg-3">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="64.069"
      height="66.564"
      viewBox="0 0 64.069 66.564"
    >
      <defs>
        <filter id="Path_13170" x="0" y="0" width="64.069" height="66.564">
          <feOffset dy="3"></feOffset>
          <feGaussianBlur stdDeviation="6" result="blur"></feGaussianBlur>
          <feFlood flood-color="#fff"></feFlood>
          <feComposite operator="in" in2="blur"></feComposite>
          <feComposite in="SourceGraphic"></feComposite>
        </filter>
      </defs>
      <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#Path_13170)">
        <path
          id="Path_13170-2"
          data-name="Path 13170"
          d="M1874.949,1462.456l-3.2,30.564,28.069-12.511Zm3.675,8.242,12.232,8.883-13.813,6.153Z"
          transform="translate(-1853.75 -1447.46)"
          fill="#fff"
          opacity="0.23"
        ></path>
      </g>
    </svg>
  </div>
  <h1>{{title}}</h1>
</section>
