.blogheading{
    color: var(--red-500);
}
.heading2{
    color: var(--blue-500);
}
 .red-line{
    background-color: var(--red-500);
    height: 8px;
    width: 30px;
    border-radius: var(--br-l);
    display:inline-block;
}
.white-line{
    margin-left: 5px;
    background-color: var(--white-500);
    height: 8px;
    width: 60px;
    border-radius: var(--br-l);
    display:inline-block;
}