<section class="residentiallist">
  <div class="homeservices-svg-3">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="1104.06"
      height="1845.452"
      viewBox="0 0 1104.06 1845.452"
    >
      <defs>
        <linearGradient
          id="linear-gradient"
          x1="0.01"
          y1="0.17"
          x2="0.879"
          y2="0.345"
          gradientUnits="objectBoundingBox"
        >
          <stop offset="0" stop-color="#f9636b"></stop>
          <stop offset="1" stop-color="#a4204d" stop-opacity="0.231"></stop>
        </linearGradient>
      </defs>
      <path
        id="wave"
        d="M702.311,1104.06c298.9,0,260.549-392.114,598.283-404.252s132.535-143.448,303.187-421.825C1657.707,190.016,1845.452,0,1845.452,0H2.109S-32.338,273.3,177.227,561.4,487.854,1104.06,702.311,1104.06Z"
        transform="translate(1104.06) rotate(90)"
        opacity="0.07"
        fill="url(#linear-gradient)"
      ></path>
    </svg>
  </div>
  <div class="container">
    <div class="singlelist">
      <AllServices-ServicesList-SingleElement
        lb-props-singleelementtxt="Our Redmond residential movers will bring all the padding, boxes, and shrink wrap for your furniture and other items so that your items are protected from scratches and chips. "
      ></AllServices-ServicesList-SingleElement>
    </div>
    <div class="singlelist">
      <AllServices-ServicesList-SingleElement
        lb-props-singleelementtxt="They know how to efficiently and safely load items into a moving truck. They are trained to properly pack and move just about any type of belonging.  "
      ></AllServices-ServicesList-SingleElement>
    </div>
    <div class="singlelist">
      <AllServices-ServicesList-SingleElement
        lb-props-singleelementtxt="The safety of your belongings is of paramount concern to them. Your personal belongings are insured. We want to make sure that you are provided with complete peace of mind."
      ></AllServices-ServicesList-SingleElement>
    </div>
    <p class="resilisttxt">
      Besides all these, there are no hidden costs when you hire one of the
      residential movers in Redmond - Simple Move Redmond.
    </p>
  </div>
</section>
