<section class="aboutus">
  <div class="container">
    <div class="row">
      <h2>
        With Almost Two Decades Of Experience, We Are Confident When We Say That
        We Are The Top Redmond Moving Company For Your Local Moving Needs
      </h2>
      <div class="col-lg-6 col-sm-12 aboutus-left">
        <div class="red-line"></div>
        <div class="white-line"></div>
        <p class="about-top-txt">
          Established in 2003, Simple Move Redmond has been successfully helping
          residents, house owners, and business owners move their furniture and
          possessions locally, in Redmond WA. We offer moving solutions for any
          move, big or small, including; high-rise apartments; low-rise units,
          houses, offices, storages, etc.
        </p>
        <p class="about-top-txt-2">
          We pride ourselves on offering a wide range of moving solutions at an
          affordable price and a service that is second-to-none in the industry.
          Simple Move Redmond offers the following moving solutions:
        </p>
        <ul>
          <li>LOCAL MOVING REDMOND</li>
          <li>RESIDENTIAL MOVING REDMOND</li>
          <li>COMMERCIAL MOVING REDMOND</li>
          <li>APARTMENT MOVING REDMOND</li>
          <li>STORAGE IN AND OUT REDMOND</li>
          <li>PACKING SERVICE REDMOND</li>
          <li>PACKERS AND MOVERS REDMOND</li>
          <li>LABOR-ONLY MOVING REDMOND</li>
          <li>And much more!</li>
        </ul>
      </div>
      <div class="col-lg-6 col-sm-12 about-right">
        <img
          src="/assets/images/redmond-inside-truck.webp"
          alt="loaded truck"
        />
      </div>
      <div class="col-12 text-center centarl-about">
        <h2>
          We Are One Of The Top Movers In Seattle With Personalized Moving
          Solutions
        </h2>
        <p>
          You are in total control of your moving costs, and we are very
          flexible and can assist with as much or as little as you like.
        </p>

        <p>
          Having more than 15 years’ experience in the moving business taught us
          many things. The first and most important is that keeping our
          customers should be our main goal. We just love making our customers
          happy and worry-free. We know that relocating is one of the most
          difficult tasks you will ever have and we always try to make it as
          simple as possible for you.
        </p>
        <h2>Licensed, Experienced And Professional</h2>
        <p>
          Our professional local packer and movers are licensed, experienced,
          and before everything else, always ready to give their best. So, if
          you are looking for movers with a truck, we are here for you! Call
          Simple Move Redmond for a free moving quote!
        </p>
      </div>
    </div>
  </div>
</section>
