<section class="slider">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <div
          id="carouselExampleControls"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-3 left-item">
                  <img src="/assets/images/girl.png" alt="women" />
                </div>
                <div class="col-9">
                  <p>
                    I loved working with Simple Move. The movers were timely,
                    friendly and efficient. In the future, I would definitely
                    use them again. They were attentive and showed care for me
                    as their customer. I really liked that they paid attention
                    to where I asked them to place the many boxes I have. Post
                    move, I didn’t have to figure out where specific belonging
                    were. I appreciate their service and highly recommend them.
                  </p>
                  <h5>Myrna Harris</h5>
                  <span class="stars-rev"></span>
                  <div class="carousel-item-svg">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 448 512"
                    >
                      <!--! Font Awesome Pro 6.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                      <path
                        d="M96 224C84.72 224 74.05 226.3 64 229.9V224c0-35.3 28.7-64 64-64c17.67 0 32-14.33 32-32S145.7 96 128 96C57.42 96 0 153.4 0 224v96c0 53.02 42.98 96 96 96s96-42.98 96-96S149 224 96 224zM352 224c-11.28 0-21.95 2.305-32 5.879V224c0-35.3 28.7-64 64-64c17.67 0 32-14.33 32-32s-14.33-32-32-32c-70.58 0-128 57.42-128 128v96c0 53.02 42.98 96 96 96s96-42.98 96-96S405 224 352 224z"
                      />
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-3 left-item">
                  <img src="/assets/images/slider-men.png" alt="men" />
                </div>
                <div class="col-9">
                  <p>
                    Our experience with Simple Move was really great. The movers
                    were very professional and efficient in completing our
                    moving. They made sure to take care of the furniture by
                    wrapping it thoroughly and were also very considerate given
                    the covid times. They followed all the recommended health
                    guidelines and got done with moving really quick. We would
                    definitely work with them again!
                  </p>
                  <h5>Parth Rupala</h5>
                  <span class="stars-rev"></span>
                  <div class="carousel-item-svg">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 448 512"
                    >
                      <!--! Font Awesome Pro 6.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                      <path
                        d="M96 224C84.72 224 74.05 226.3 64 229.9V224c0-35.3 28.7-64 64-64c17.67 0 32-14.33 32-32S145.7 96 128 96C57.42 96 0 153.4 0 224v96c0 53.02 42.98 96 96 96s96-42.98 96-96S149 224 96 224zM352 224c-11.28 0-21.95 2.305-32 5.879V224c0-35.3 28.7-64 64-64c17.67 0 32-14.33 32-32s-14.33-32-32-32c-70.58 0-128 57.42-128 128v96c0 53.02 42.98 96 96 96s96-42.98 96-96S405 224 352 224z"
                      />
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-3 left-item">
                  <img src="/assets/images/slider-men.png" alt="men" />
                </div>
                <div class="col-9">
                  <p>
                    Simple Move helped me move this weekend. The movers arrived
                    early, and were focused on the task at hand, professional,
                    and courteous. The 2 movers clearly work with each other a
                    lot, and coordination between them was efficient and
                    seamless. They had plenty of blankets and wrapping to
                    protect my furniture. I would definitely use them again.
                  </p>
                  <h5>Tony Pan</h5>
                  <span class="stars-rev"></span>
                  <div class="carousel-item-svg">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 448 512"
                    >
                      <!--! Font Awesome Pro 6.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                      <path
                        d="M96 224C84.72 224 74.05 226.3 64 229.9V224c0-35.3 28.7-64 64-64c17.67 0 32-14.33 32-32S145.7 96 128 96C57.42 96 0 153.4 0 224v96c0 53.02 42.98 96 96 96s96-42.98 96-96S149 224 96 224zM352 224c-11.28 0-21.95 2.305-32 5.879V224c0-35.3 28.7-64 64-64c17.67 0 32-14.33 32-32s-14.33-32-32-32c-70.58 0-128 57.42-128 128v96c0 53.02 42.98 96 96 96s96-42.98 96-96S405 224 352 224z"
                      />
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slide-home-buttons">
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleControls"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleControls"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12 testemonial">
        <h4>TESTIMONIAL</h4>
        <h3>Read what our previous clients have to say about us</h3>
        <div class="red-line"></div>
        <div class="white-line"></div>
      </div>
    </div>
  </div>
</section>
