<header class="fixed-top">
  <div class="navbar-info container-fluid">
    <div class="phone-nav">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="19.96"
        viewBox="0 0 20 19.96"
      >
        <g id="Layer_2" data-name="Layer 2" transform="translate(0)">
          <g id="phone" transform="translate(0)">
            <path
              id="Path_10"
              data-name="Path 10"
              d="M17.369,21.96A15.389,15.389,0,0,1,2,6.591,4.591,4.591,0,0,1,6.591,2a3.932,3.932,0,0,1,.768.07,3.782,3.782,0,0,1,.719.18A1,1,0,0,1,8.727,3l1.367,5.988a1,1,0,0,1-.259.918c-.13.14-.14.15-1.367.788a9.89,9.89,0,0,0,4.86,4.88c.649-1.238.659-1.248.8-1.377a1,1,0,0,1,.918-.259L21.032,15.3a1,1,0,0,1,.719.649,4.331,4.331,0,0,1,.19.729,4.76,4.76,0,0,1,.06.758A4.591,4.591,0,0,1,17.369,21.96Z"
              transform="translate(-2 -2)"
              fill="#fff"
            />
          </g>
        </g>
      </svg>

      <a class="subtext" href="tel:(425) 217-2009">(425) 217-2009</a>
    </div>
    <div class="mail-nav">
      <svg
        id="Group_43"
        data-name="Group 43"
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="16"
        viewBox="0 0 20 16"
      >
        <path
          id="Path_12"
          data-name="Path 12"
          d="M20,4H4A2,2,0,0,0,2.01,6L2,18a2.006,2.006,0,0,0,2,2H20a2.006,2.006,0,0,0,2-2V6A2.006,2.006,0,0,0,20,4Zm-.4,4.25-7.07,4.42a1.011,1.011,0,0,1-1.06,0L4.4,8.25a.849.849,0,1,1,.9-1.44L12,11l6.7-4.19a.849.849,0,1,1,.9,1.44Z"
          transform="translate(-2 -4)"
          fill="#fff"
        />
      </svg>
      <a class="subtext" href="mailto:info@simplemove.me">info@simplemove.me</a>
    </div>
  </div>
  <nav id="main-nav" class="navbar navbar-expand-lg navbar-light initial-nav">
    <div class="container-fluid">
      <a class="navbar-brand" href="/pages/home">
        <img
          id="navbar-brand-image"
          src="{{logolocation}}"
          alt="Seattle Proffesional Movers Home"
          height="50px"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="container">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/pages/home/"
                >home</a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="/pages/Services/"
                id="navbarDropdown"
                role="button"
                aria-expanded="false"
              >
                Services
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="/pages/Local-Moving-Redmond/"
                    >Local Moving</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="/pages/Residential-Moving-Redmond/"
                    >Residentinal Moving</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="/pages/Commercial-Moving-Redmond/"
                    >Commercial Moving</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="/pages/Apartment-Moving-Redmond/"
                    >Apartment Moving</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="/pages/Storage-In-And-Out-Redmond/"
                    >Storage In And Out</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="/pages/Packing-Service-Redmond/"
                    >Packing Service</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="/pages/Packers-And-Movers-Redmond/"
                    >Packers And Movers</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/pages/Labor-Only-Redmond/"
                    >Labor-only Moving</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pages/Blog/">blog</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/pages/aboutUs/">about us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pages/faq/">faq</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pages/ContactUs/">contact</a>
            </li>
          </ul>
        </div>
        <div class="d-flex nav-link-btn">
          <a class="nav-btn" href="/pages/contactUs/">Free Quote</a>
        </div>
      </div>
    </div>
  </nav>
</header>
