<header
  class="home-header"
  lb-props-title="The best moving company in the area"
  lb-props-subtitle="
WELCOME"
  lb-props-headtxt="We are here to help you out with your upcoming relocation and make your moving smooth and safe!"
>
  <div class="container">
    <div class="row">
      <div class="col-lg- col-sm-12">
        <h2 class="heding2">{{subtitle}}</h2>
        <h1 class="heading1">{{title}}</h1>
        <div class="red-line"></div>
        <div class="white-line"></div>
        <p class="headtxt">{{headtxt}}</p>
        <div class="btn-section">
          <div class="start-d">
            <a href="/pages/Local-Moving-Redmond/" class="start-btn"
              >GET START</a
            >
          </div>
          <div class="hero-services">
            <a href="/pages/Services/" class="hero-services-btn"
              >Our SERVICES</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
