<div class="storagelist">
  <div class="container">
    <div class="row">
    <ul class="storage-first-list">
        <li>
              <AllServices-ServicesList-SingleElement
          lb-props-singleelementtxt="Moving Boxes"
        ></AllServices-ServicesList-SingleElement></li>
        <li>  <AllServices-ServicesList-SingleElement
          lb-props-singleelementtxt="Packing Paper"
        ></AllServices-ServicesList-SingleElement></li>
        <li>  <AllServices-ServicesList-SingleElement
          lb-props-singleelementtxt="Packing Tape"
        ></AllServices-ServicesList-SingleElement></li>
        <li>  <AllServices-ServicesList-SingleElement
          lb-props-singleelementtxt="Rental Moving Truck"
        ></AllServices-ServicesList-SingleElement></li>
        <li>  <AllServices-ServicesList-SingleElement
          lb-props-singleelementtxt="Rental moving equipment"
        ></AllServices-ServicesList-SingleElement></li>
        <li>  <AllServices-ServicesList-SingleElement
          lb-props-singleelementtxt="Moving Truck Insurance"
        ></AllServices-ServicesList-SingleElement></li>
       
    </ul>
      <ul>
        <li class="movable-list">  <AllServices-ServicesList-SingleElement
            lb-props-singleelementtxt="Gas For Your Own Moving Truck"
          ></AllServices-ServicesList-SingleElement></li>
      </ul>
   
      </div>
    </div>
  </div>
</div>
